<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 <connectionStrings>
        <add name="ConnectionString" connectionString="Server=192.185.6.42,1433; database=cotdp438_cotdp; uid=cotdp438_cotdp438; pwd=Dupart2018!; Max Pool Size=1000;Min Pool Size=5;" providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>